
@import "maps-variables";

footer{
    background-color: $colorSecundario;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: auto;  
    box-shadow: (5px 5px 5px 5px rgba(0, 0, 0, 0.349));
    grid-area: footer;
    li{
        display: inline-flex;
    }
    a{
        color: $colorPrincipal;
        text-decoration: none;
    }
    .navFooter{
        display: flex;
        align-items: center;
        flex-direction: column;
        
    }
    .navFooterItems{
        margin-left: 30px;
    }
}