
@import "maps-variables";

header{
    background-color: $colorSecundario;
    height: 100px;
    width: 100%; 
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.349);
    grid-area: header;
    nav{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    .logo{
        display: inline;
    }
    a{color: $colorPrincipal;
        text-decoration: none;
    }
    .navbar-nav{
        display: flex;
        line-height: 50px;
        justify-content: space-around;
        margin-right: 25%;
       
    }
    .navItems{
        padding-left: 10px;
        padding-right: 10px;
    }
    .inicioDeSesion{
        display: flex;
        align-items: baseline;
        align-content: flex-end;
        padding-left: 20%;    
    }
    .tituloInicioSesion{
        display: flex;
        padding-right: 5px;
    }
}