/*variables*/

$colorPrincipal: rgb(239, 161, 16);
$colorSecundario: rgb(57, 137, 153);
$boxShadow:0px 1px 10px rgba(0, 0, 0, 0.2);

/*maps*/

$cardsCursos: (
    colorFondo: rgb(239, 161, 16) 
    borde: rgba(0, 0, 0, 0.2)
    );
