
@import "maps-variables";

@media screen and (max-width: 320px) { 
    // body{
    //     display: grid;
    //     grid-template-columns: auto;
    //     grid-template-rows: auto auto auto;
    //     grid-template-areas: "header" "main" "footer";
    //     background-color: beige;
    //     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
    // }

    h1 {
        font-size: 1.5em;
    }
    p{
        font-size: 1em;
    }
    .inicioDeSesion{

        display: none;
    }

    .carousel {
        width: 100%;
        height: 10em;
        margin-bottom: 2em;
    }

    .articulos{
        display: flex;
        flex-direction: column;
        
    }
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar-nav{
        margin: 0;
    }
    .cardsCursos{
        width: 100%;
        display: flex;
        max-width: 1100px;
        justify-content: space-evenly;
    }
    
    .cursos{
        width: 100%;
        margin: 20px;
        border-radius: 6px;
        overflow: hidden;
        background-color: $colorPrincipal;
    }
  
    footer {
        width: 100%;
        .navFooter{
            display: none;
        }
        img{
            display: none;
        }
    }
}


@media screen and (max-width: 768px) {
    // body{
    //     display: grid;
    //     grid-template-columns: auto;
    //     grid-template-rows: auto auto auto;
    //     grid-template-areas: "header" "main" "footer";
    //     background-color: beige;
    //     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
    // }
    .inicioDeSesion{

        display: none;
    }
    .articulos{
        display: grid;
        width: 768px;
        
    }
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
     footer {
        width:100%;
    }
    
    .cardsCursos{
        width: 100%;
        display: flex;
        max-width: 1100px;
        justify-content: space-evenly;
    }
    
    .cursos{
        width: 100%;
        margin: 20px;
        border-radius: 6px;
        overflow: hidden;
        background-color: $colorPrincipal;
    }
}