
@import "maps-variables";

body{
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header" "main" "footer";
    background-color: beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* header */

@import "header";   

/* main */

@import "main"; 


/* footer */

@import "footer";

/* Medias */

@import "medias";
