body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header" "main" "footer";
  background-color: beige;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* header */
header {
  background-color: rgb(57, 137, 153);
  height: 100px;
  width: 100%;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.349);
  grid-area: header;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
header .logo {
  display: inline;
}
header a {
  color: rgb(239, 161, 16);
  text-decoration: none;
}
header .navbar-nav {
  display: flex;
  line-height: 50px;
  justify-content: space-around;
  margin-right: 25%;
}
header .navItems {
  padding-left: 10px;
  padding-right: 10px;
}
header .inicioDeSesion {
  display: flex;
  align-items: baseline;
  align-content: flex-end;
  padding-left: 20%;
}
header .tituloInicioSesion {
  display: flex;
  padding-right: 5px;
}

/* main */
main {
  grid-area: main;
}
main h1 {
  text-align: center;
  text-transform: uppercase;
}
main p {
  text-align: center;
}
main .carousel {
  display: flex;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 500px;
}
main h2 {
  text-align: center;
  text-transform: uppercase;
}
main h3 {
  text-align: center;
  text-transform: uppercase;
}
main .articulos {
  display: flex;
  justify-content: center;
}
main .articleIndex {
  background-color: rgb(239, 161, 16);
  height: 200px;
  width: 200px;
  overflow: auto;
  margin: 70px;
  padding: 10px;
  display: inline-block;
  justify-items: center;
  border-radius: 15%;
}
main .tituloArticleIndex {
  text-align: center;
  font-size: larger;
  font-style: bold;
}
main #comentariosExperiencias {
  display: flex;
  align-self: auto;
  padding-left: 35%;
}
main .cursos {
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background-color: rgb(239, 161, 16);
  box-shadow: rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
  justify-content: space-around;
}
main .cardsCursos {
  width: 100%;
  display: flex;
  max-width: auto;
}
main .cardsCursos .cursos {
  padding: 10px;
  text-align: center;
}
main .cardsCursos a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  color: rgb(57, 137, 153);
  border: 1px solid rgb(57, 137, 153);
  border-radius: 4px;
  transition: all 400ms ease;
}
main .cursos:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}
main .tablaPreciosCursos {
  display: flex;
  margin: 50px;
  justify-content: center;
}
main .objetivosCursos {
  text-align: start;
}

/* footer */
footer {
  background-color: rgb(57, 137, 153);
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: auto;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.349);
  grid-area: footer;
}
footer li {
  display: inline-flex;
}
footer a {
  color: rgb(239, 161, 16);
  text-decoration: none;
}
footer .navFooter {
  display: flex;
  align-items: center;
  flex-direction: column;
}
footer .navItems {
  margin-left: 30px;
}

/* Medias */
@media screen and (max-width: 320px) {
  h1 {
    font-size: 1.5em;
  }
  p {
    font-size: 1em;
  }
  .inicioDeSesion {
    display: none;
  }
  .carousel {
    width: 100%;
    height: 10em;
    margin-bottom: 2em;
  }
  .articulos {
    display: flex;
    flex-direction: column;
  }
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar-nav {
    margin: 0;
  }
  .cardsCursos {
    width: 100%;
    display: block;
    max-width: 1100px;
    justify-content: space-evenly;
  }
  .cursos {
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background-color: rgb(239, 161, 16);
  }
  footer {
    width: 100%;
  }
  footer .navFooter {
    font-size: 0.8em;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
  }
  footer .navItems {
    margin: 0.5em;
    padding: 0;
  }
  footer img {
    display: none;
  }
  .cardsCursos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .inicioDeSesion {
    display: none;
  }
  .articulos {
    display: grid;
    width: 768px;
  }
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer {
    width: 100%;
  }
  .cardsCursos {
    width: 100%;
    display: flex;
    max-width: 1100px;
    justify-content: space-evenly;
  }
  .cursos {
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background-color: rgb(239, 161, 16);
  }
}/*# sourceMappingURL=style.css.map */